

/* ------------------------------------------------ max-width: 840px ------------------------------------------------ */



@media (max-width: 850px) {

    /* -------------------------------------- Header ------------------------------------------ */ 
    header {
        flex-direction: column;
        gap: 20px;
        padding: 40px 20px 40px 20px;
    }

    header a {
        padding: 15px 20px;
        background: #000;
        border-radius: 4px;
    }

    /* ----------------------------------- Foto do Perfil ------------------------------------- */
    .foto-de-perfil img{
        margin-top: 100px;
        margin-left: -150px;
        height: 300px;
        width: 300px;
    }


    /*  ------------------------------------ Apresentação ------------------------------------ */
    .apresentacao {
        margin-top: 140px;
    }

    .apresentacao h1 {
        padding-top: 100px;
        margin: 0px 170px 0px 170px;
    }
    
    .apresentacao p {
        padding-top: 10px;
        margin: 0px 170px 0px 170px;
    }
    
    .apresentacao-localizacao p {
        max-width: 1200px;
        margin: 0 auto;
        padding: 60px 0px 30px 140px;
    }
    
    /* ------------------------------- Portifólio começa em 1050px ---------------------------- */
    .portifolio {
        padding: 40px 60px 0px 60px;    
    }

    .portifolio-imagens {
        display: grid;
        grid-template-columns: auto;  
    }



    /* ------------------------------------ Experiência ---------------------------------------- */
    .subtitulo {
        font-size: 5rem;
        text-transform: capitalize;
        max-width: initial !important;
        text-align: center;
    }

    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .subtitulo {
        color: #141414;
    }

    .experiencia-texto {
        font-size: 1.25rem;
    }

    .empresa-ano {
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }

    .empresa-ano-data {
        display: inline;
    }

    /* ------------------------------------ Formação ------------------------------------------- */
    .formacao-container {
        grid-template-columns: 1fr;
        padding: 60px 20px 60px 20px;
        gap: 40px;
    }
    .subtitulo-formacao {
        font-size: 5rem;
        text-transform: capitalize;
        max-width: initial !important;
        text-align: center;
        color: #fff; 
    }
    

    .formacao-texto {
        font-size: 1.25rem;
        
    }
    .formacao-extra h3::before {
        position: initial;
        margin-bottom: 10px;
    }


    

    /* ------------------------------------- Footer -------------------------------------------- */
    footer {
        padding: 0px 20px 60px 20px;
    }

    .menu-footer {
        display: grid;
        grid-template-columns: 1fr;
    }

  
    /* ------------------- Detalhes Perfil, Protifólio, Experiência, Formação e separador-------------------------- */


    .detalhe-abaixo-do-experiencia {
        display: none;
    }

    .detalhe-abaixo-do-formacao {
        display: none;
    }
}

/* ------------------------------------ max-width 584px | Experiência e Formação----------------------------------- */
@media (max-width: 584px) {
    .subtitulo {
        font-size: 4rem;
    }

    .subtitulo-formacao {
        font-size: 4rem;
    }
}


/* ------------------------------------------------- max-width: 580px ---------------------------------------------- */
@media (max-width: 580px) {
    .caixa-footer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        padding-bottom: 60px;
    }

    .menu-footer {
        text-align: center;
    }


}


/* ----------- max-width: 494px | apresentação muda em 730px | experiencia muda em 490px -------------------- */

/* ---------------- Apresentação muda em 730px --------------- */
@media (max-width: 730px) {
    .apresentacao h1, .apresentacao p {
        margin: 0px 40px 0px 40px;
    }

    .apresentacao h1 {
        margin-top: 60px;
    }
}

/* ----------- Apresentação muda em 490px | Subtitulo da Experiência e Formação ------------ */
@media (max-width: 490px) {
    .subtitulo {
        font-size: 3rem;
    }

    .subtitulo-formacao {
        font-size: 3rem;
    }
}


/* ----------------------------------------------max-width: 451px --------------------------------------------- */
@media (max-width: 451px) {
    /* ----------------------------------- header ------------------------------------------- */

    header {
        padding: 0px 20px 40px 20px;
    }
    .foto-de-perfil {
        position: absolute;
        margin-top: 160px;
        margin-left: -0px;
        max-width: 700px;
    }

    /* ----------------------------------- Apresentação ------------------------------------- */
    .apresentacao h1, .apresentacao p {
        margin: 0px 40px 0px 40px;
    }

    .apresentacao {
        margin-top: 200px;
    }

    .apresentacao-localizacao p {
        padding: 60px 0px 10px 20px;
    }

    /* ---------------------------------- Experiência --------------------------------------- */
    .subtitulo {
        font-size: 2rem;
    }

    /* ---------------------------------- Formação ------------------------------------------ */
    .subtitulo-formacao {
        font-size: 2rem;
    }

    /* ----------------------------------- Detalhe ------------------------------------------ */
    .detalhe-abaixo-do-perfil img {
        display: none;
    }








}

