/* ------------------------------------------------ max-width: 840px -------------------------------------- */

@media (max-width: 850px) {
  /* -------------------------------------- Header ------------------------------------------ */
  header {
    flex-direction: column;
    padding: 20px;
  }

  .headermenu {
    padding-top: 10px;
    gap: 20px;
  }

  header nav ul li {
    background: #000;
    border-radius: 4px;
    padding: 15px 20px;
  }

  /*  ------------------------------------ Apresentação ------------------------------------ */

  .divisor {
    margin-left: 0px;
    margin-right: 0px;
  }

  .apresentacao {
    font-size: 2rem;
  }

  .apresentacao-habilidade {
    font-size: 1.25rem;
  }

  /* ----------------------------------- Foto do Perfil ------------------------------------- */

  .foto-de-perfil img {
    height: 15rem;
    width: 15rem;
  }

  /* ------------------------------------ Experiência ---------------------------------------- */
  .subtitulo {
    font-size: 5rem;
    text-transform: capitalize;
    max-width: initial !important;
    text-align: center;
  }

  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .subtitulo {
    color: #141414;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }

  .empresa-ano-data {
    display: inline;
  }

  /* ------------------------------------ Formação ------------------------------------------- */
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px 40px 20px;
    gap: 40px;
  }
  .subtitulo-formacao {
    font-size: 5rem;
    text-transform: capitalize;
    max-width: initial !important;
    text-align: center;
    color: #fff;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }

  /* ------------------------------------- Footer -------------------------------------------- */
  footer {
    padding: 40px 20px 40px 20px;
  }

  .menu-footer {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* ------------------- Detalhes Perfil, Protifólio, Experiência, Formação e separador-------------------------- */

  .detalhe-abaixo-do-experiencia {
    display: none;
  }

  .detalhe-abaixo-do-formacao {
    display: none;
  }
}

/* ------------------------------------ max-width 584px | Experiência e Formação----------------------------------- */
@media (max-width: 584px) {
  .divisor {
    grid-template-columns: 1fr;
  }

  /* ------------------------------------- Apresentação ------------------------------- */
  .apresentacao {
    padding: 0px 20px;
    max-width: 21ch;
  }

  .apresentacao-habilidade {
    font-size: 1rem;
  }

  .foto-de-perfil img {
    height: 10rem;
    width: 10rem;
  }

  .subtitulo {
    font-size: 4rem;
  }

  .subtitulo-formacao {
    font-size: 4rem;
  }

  .apresentacao-localizacao nav {
    font-size: 0.8rem;
    padding: 10px 0px;
  }

  /* ---------------------------------------- Separador ------------------------------------ */
  .separador {
    margin-top: 30px;
  }
  /* ---------------------------------------- Experiência ------------------------------------ */
  .experiencia {
    padding-top: 30px;
  }
}

/* ------------------------------------------------- max-width: 580px ---------------------------------------------- */
@media (max-width: 580px) {
  .caixa-footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .menu-footer {
    text-align: center;
  }
}

/* ----------- Apresentação muda em 490px | Subtitulo da Experiência e Formação ------------ */
@media (max-width: 490px) {
  .subtitulo {
    font-size: 3rem;
  }

  .subtitulo-formacao {
    font-size: 3rem;
  }
}

/* ----------------------------------------------max-width: 451px --------------------------------------------- */
@media (max-width: 451px) {
  /* ---------------------------------- Header --------------------------------------- */
  .logonome {
    font-size: 2rem;
  }

  .headermenu li a {
    font-size: 1rem;
  }

  /* ---------------------------------- Experiência --------------------------------------- */
  .subtitulo {
    font-size: 2rem;
  }

  /* ---------------------------------- Formação ------------------------------------------ */
  .subtitulo-formacao {
    font-size: 2rem;
  }
}
