body {
  font-family: 'Fira Sans', Arial, sans-serif;
  margin: 0px;
  color: #161a1d;
  background-color: #f5f3f4;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #0b090a;
}

/* ------------------------------------------------ Header -------------------------------------------------------- */
header {
  max-width: 1400px;
  padding: 20px 20px 20px 20px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161a1d;
  position: relative;
}

.logonome {
  font-weight: 700;
  font-size: 3rem;
  color: #f5f3f4;
}

.vermelho {
  color: #a4161a;
}

.headermenu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.headermenu li a {
  padding: 16px 0px;
  font-size: 1.3rem;
  color: #f5f3f4;
  position: relative;
}

.headermenu li a:hover {
  color: #a4161a;
}

.headermenu li a:before {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #a4161a;
  position: absolute;
  top: 42px;
  transition: 0.3s;
}

.headermenu a:hover::before,
.headermenu a.ativo::before {
  width: 100%;
}

/* ------------------------------------------------ Apresentação ------------------------------------------------- */

.divisor {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.apresentacao {
  max-width: 12ch;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 600;
}

.apresentacao-habilidade {
  font-size: 1.5rem;
}

.apresentacao-localizacao p {
  max-width: 1400px;
  margin: 0 auto;
}

.foto-de-perfil img {
  height: 19rem;
  width: 19rem;
  border-radius: 50%;
  margin: 0 auto;
}

/* ------------------------------------------------ Separador ----------------------------------------------------- */

.separador {
  max-width: 1400;
  width: 90%;
  height: 2px;
  background-color: #e9e9e9;
  margin: 0 auto;
  margin-top: 60px;
}

/* ------------------------------------------------ Experiência --------------------------------------------------- */
.experiencia {
  max-width: 1400px;
  padding: 60px 20px 0px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.subtitulo {
  color: #e0e0e0;
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
  max-width: 4ch;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background-color: #e9e9e9;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 4px 4px 15px #d3d3d3;
  position: relative;
}

.empresa::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ffbf00, #f2a50c);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa:hover {
  box-shadow: 4px 4px 15px #b1a7a6;
  transition: 0.2s;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-ano-data {
  display: none;
  color: #525252;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}

/* ------------------------------------------ Detalhe abaixo de Experiência --------------------------------------- */
.detalhe-abaixo-do-experiencia {
  max-width: 1400px;
  padding: 0px 20px 40px 20px;
  margin: 0 auto;
}

/* ------------------------------------------------ Formação --------------------------------------------------- */
.subtitulo-formacao {
  color: #0b090a;
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
  max-width: 4ch;
}

.formacao-container {
  color: #ffffff;
  background: #161a1d;
  max-width: 1400px;
  padding: 60px 20px 0px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: '';
  display: block;
  width: 130px;
  height: 100px;
  background: url('../img/detalhe.svg') no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.formacao .subtitulo {
  color: #000000;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: #161a1d;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 15px #0b090a;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.faculdade-curso::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ffbf00, #f2a50c);
  position: absolute;
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.cursos h3::before {
  background: url('/imagem/Vector.svg') no-repeat center center;
}

.idiomas h3::before {
  background: url('/imagem/Vector-4.svg') no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------------ Detalhe abaixo de Formação --------------------------------------- */
.detalhe-abaixo-do-formacao {
  max-width: 1400px;
  padding: 0px 20px 40px 20px;
  margin: 0 auto;
  background-color: #161a1d;
}

/* ------------------------------------------------ Footer --------------------------------------------------- */
footer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px 40px 20px;
  color: #fff;
  background-color: #0b090a;
}

.caixa-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

/* -------------------------- Menu dentro do Footer -------------- */
.menu-footer h2 {
  margin-bottom: 30px;
  text-decoration: underline;
}

.menu-footer ul li {
  margin-bottom: 15px;
}

.menu-footer ul li a {
  color: #f5f3f4;
  position: relative;
}

.menu-footer ul li a:hover {
  color: #a4161a;
}

.headermenu li a {
  padding: 16px 0px;
  font-size: 1.3rem;
  color: #f5f3f4;
}

.menu-footer ul li a:before {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #a4161a;
  position: absolute;
  top: 20px;
  transition: 0.3s;
}

.menu-footer a:hover::before,
.menu-footer a.ativo::before {
  width: 100%;
}

/* ---------------------------Email e Telefone ------------------ */
.detalhe-email-e-telefone-footer {
  display: grid;
  grid-template-columns: auto 1fr;
}

.detalhe-email-e-telefone-footer h2 {
  text-decoration: underline;
}

.email-email-footer p {
  margin-top: 10px;
  margin-bottom: 40px;
}

.detalhe-email-e-telefone-footer img {
  padding: 5px 10px 0px 0px;
}

.email-telefone-footer p {
  margin-top: 5px;
}
